<html>
<body>
<table>
    <tr><td>Règne</td><td>{{ specie.getReign() }}</td></tr>
    <tr><td>Phylum</td><td>{{ specie.getPhylum() }}</td></tr>
    <tr><td>Class</td><td>{{ specie.getClass() }}</td></tr>
    <tr><td>Ordre</td><td>{{ specie.getOrdre() }}</td></tr>
    <tr><td>Famille</td><td>{{ specie.getFamily() }}</td></tr>
    <tr><td>Groupe 1</td><td>{{ specie.getGroup1() }}</td></tr>
    <tr><td>Groupe 2</td><td>{{ specie.getGroup2() }}</td></tr>
    <tr><td>Code nom</td><td><a href="{{ path('specie_show', {'cd_nom': specie.getCdNom()}) }}">{{ specie.getCdNom() }}</a></td></tr>
    <tr><td>Code Taxsup</td><td>{% if not specie.getCdTaxsup() is null %}<a href="{{ path('specie_show', {'cd_nom': specie.getCdTaxsup()}) }}">{{ specie.getCdTaxsup() }}</a>{% endif %}</td></tr>
    <tr><td>Code Sup</td><td>{% if not specie.getCdSup() is null %}<a href="{{ path('specie_show', {'cd_nom': specie.getCdSup()}) }}">{{ specie.getCdSup() }}</a>{% endif %}</td></tr>
    <tr><td>Code Ref</td><td>{% if not specie.getCdRef() is null %}<a href="{{ path('specie_show', {'cd_nom': specie.getCdRef()}) }}">{{ specie.getCdRef() }}</a>{% endif %}</td></tr>
    <tr><td>Rang</td><td>{{ specie.getRank() }}</td></tr>
    <tr><td>Name</td><td>{{ specie.getLbName() }}</td></tr>
    <tr><td>Auteur</td><td>{{ specie.getLbAuthor() }}</td></tr>
    <tr><td>Nom (HTML)</td><td>{% if not specie.getHtmlName() is null %}{{ specie.getHtmlName()|raw }}{% endif %}</td></tr>
    <tr><td>Nom validé</td><td>{{ specie.getValidatedName() }}</td></tr>
    <tr><td>Nom vernaculaire</td><td>{{ specie.getVernacularName() }}</td></tr>
    <tr><td>Nom vernacular (anglais)</td><td>{{ specie.getEnglishVernacularName() }}</td></tr>
    <tr><td>Habitat</td><td>{{ specie.getHabitat() }}</td></tr>
    <tr><td>Url</td><td><a href="{{ specie.getUrl() }}">{{ specie.getUrl() }}</a></td></tr>
    <tr><td>Image</td><td><img src="{{ path('specie_image_show', {'cd_nom': specie.getCdNom()}) }}"/></td></tr>
</table>
</body>
</html>
