{% extends "@FOSUser/layout.html.twig" %}

{% block page_title %}
    Mon compte
{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
