{% trans_default_domain 'FOSUserBundle' %}
<section class="panel">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn-btn-primary" />
    </div>
{{ form_end(form) }}
</section>
