
{% trans_default_domain 'FOSUserBundle' %}
 
<div class="tab">
  <div class="bando"></div>
  <ul class="grid-2">
      <li><a href="#parametres" class="menu active">Paramètres</a></li>
      <li><a href="#observations" class="menu">Mes observations</a></li>
  </ul>
  <section class="tab-container flex-container">
      <div id="parametres" class="active">
            <p><label>Nom complet: </label>{{ user.getFullname() }}</p>
            <p><label>{{ 'profile.show.username'|trans }}: </label>{{ user.username }}</p>
            <p><label>{{ 'profile.show.email'|trans }}: </label>{{ user.email }}</p>
            <p class="txt-right"><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Modifier</a></p>
        </div>
        <div id="observations">
                {% for observation in user.getObservations() %}          
                    <article id="152" class="observation mbs">
                        <div  class="flex-container has-gutter">
                              <div class="picture">
                                <img src="https://fakeimg.pl/100x80/282828/eae0d0/" />
                              </div>

                              <div class="flex-item-fluid">
                                <ul class="ident">
                                    <li>
                                        <a href="{{ path('specie_show', {'cd_nom': observation.getSpecie().getCDNom()}) }}">{{ observation.getSpecie() }}</a>
                                    </li>
                                    <li>
                                        Nb individus : {{ observation.getNumber() }}
                                    </li>
                                </ul>
                                <ul class="meta">
                                  <li>{{ observation.getViewedAt()|localizeddate('medium', 'medium') }}</li>
                                  <li>Lat. {{ observation.getlatitude() }} Lng. {{ observation.getLongitude() }}</li>
                                </ul>
                              </div>
                              <div>
                                <ul>
                                    <li> 
                                        {% if not observation.getApprover() is null %}
                                            Validé par <a href="{{ path('admin_user_view_profile', {'username': observation.getApprover().getUsername()}) }}">{{ observation.getApprover().getFullname() }}</a>
                                        {% else %}
                                            Non validé
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="{{ path('observation_show', {id: observation.getId()}) }}" class="btn btn-xs btn-primary w100 txt-center">Voir l’observation</a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/maps?q={{ observation.getlatitude() }},{{ observation.getLongitude() }}" class="btn btn-xs btn-primary w100 txt-center">Voir sur une carte</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                      </article>
                {% endfor %}
        </div>
    </div>
</section>

