{% extends "::base.html.twig" %}


{% block page_title %}
Liste des observations en attente d’approbation
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body_content %}
    <section>
        <table>
            <thead>
                <tr>
                    <th>Localisation</th>
                    <th>Observateur</th>
                    <th>Espèce</th>
                    <th>Nombre</th>
                    <th>Réalisé le</th>
                    <th>Photo</th>
                    <th>Actions&nbsp;?</th>
                </tr>
            </thead>
            <tbody>
            {% for observation in observations %}
                <tr>
                    <td>
                        Latitude&nbsp;: {{ observation.getlatitude() }}<br>
                        Longitude&nbsp;: {{ observation.getLongitude() }}<br>
                        <a href="https://www.google.com/maps?q={{ observation.getlatitude() }},{{ observation.getLongitude() }}">Voir sur une carte</a>
                    </td>
                    <td><a href="{{ path('user_profile', {'username': observation.getUser().getUsername()}) }}">{{ observation.getUser().getFullname() }}</a></td>
                    <td><a href="{{ path('specie_show', {'cd_nom': observation.getSpecie().getCDNom()}) }}">{{ observation.getSpecie() }}</a></td>
                    <td>{{ observation.getNumber() }}</td>
                    <td>{{ observation.getViewedAt()|localizeddate('medium', 'medium') }}</td>
                    <td>
                        {% if observation.getFilename() %}
                            <img src="/uploads/{{ observation.getFilename() }}">
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li><a href="{{ path('observation_edit', {'id': observation.getId()}) }}">Modifier</a></li>
                            <li><a href="{{ path('observation_approve', {'id': observation.getId()}) }}">Approuver</a></li>
                            <li><a href="{{ path('observation_refuse', {'id': observation.getId()}) }}">Refuser</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ pagerfanta(observations) }}
        </div>
        <div id="map"></div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: {lat: 46.546981, lng: 3.3774635}
            });

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function(data, i) {
                return new google.maps.Marker({
                    position: data['location']
                    //label: data['label']
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [];

        {% for observation in observations %}
        var data = {
            location: {
                lat: {{ observation.getlatitude() }},
                lng: {{ observation.getLongitude() }}
            },
            //label: "{{ observation.getSpecie() }}"
        };
        locations.push(data);
        {% endfor %}
        console.log(locations);
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
{% endblock %}
