{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}

{% block page_title %}
{{ titre_page }}
{% endblock %}

{% block body_content %}
    <!-- BEGIN SIDEBAR -->
    <aside class="mod w20 pam main">
      <h3>Filtres de recherche</h3>
        <form class="small">
              <div class="form-group">
                  <label for="vernacular_name" class="control-label">Nom de l'espèce (nom vernaculaire)</label>
                  <input type="text" name="vernacular_name" />
                  <input type="hidden" name="cd_nom" />
              </div>

              <div class="form-group">
                  <label for="habitat" class="control-label">Habitat</label>
                  <select id="habitat" name="habitat" >
                    <option value="">Tous</option>
                    <option value="1">Marin</option>
                    <option value="2">Eau douce</option>
                    <option value="3">Terrestre</option>
                    <option value="4">Marin & eau douce</option>
                    <option value="5">Marin & Terrestre</option>
                    <option value="6">Eau saumâtre</option>
                    <option value="7">Continental (terrestre et/ou eau douce)</option>
                    <option value="8">Continental (terrestre et eau douce)</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="ordre" class="control-label">Ordre</label>
                  <select id="ordre" name="ordre">
                    <option value="">Tous</option>
                    {% for order in orders %}
                    <option>{{ order }}</option>
                    {% endfor %}
                  </select>
              </div>

              <div class="form-group">
                  <label for="family" class="control-label">Famille</label>
                  <select id="family" name="family" >
                  </select>
              </div>

              <p class="txt-right">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
              </p>
            </form>
    </aside>
    <!-- END SIDEBAR -->

    <div id="content" class="flex-item-fluid pam">
        <div class="grid-2 has-gutter">
            <section class="panel">
            {% if is_granted('ROLE_NATURALIST') %}
                <nav class="panel">
                  <strong>Modération des observations</strong>
                  <ul class="inline">
                    <li><a href="{{ path('observation_list') }}" class="btn btn-func btn-xs">Approuvées</a></li>
                    <li><a href="{{ path('observations_pending_approval') }}" class="btn btn-func btn-xs">En attente</a></li>
                    <li><a href="{{ path('observations_refused') }}" class="btn btn-func btn-xs">Refusée</a></li>
                  </ul>
                </nav>
            {% endif %}
                <div class="resultObserv">
                {% for observation in observations %}
                    <article id="observation-{{ observation.getId() }}" class="observation mbs">
                        <div  class="flex-container has-gutter">
                          <div class="picture">
                              {% if observation.getFilename() %}
                                  <img src="/uploads/{{ observation.getFilename() }}" alt="{{ observation.getSpecie() }}" />
                              {% else %}
                                  <img src="/assets/img/silhouette.png" alt="{{ observation.getSpecie() }}" />
                              {% endif %}
                          </div>
                          <div class="flex-item-fluid">
                            <ul class="ident">
                              <li><strong><a href="{{ path('specie_show', {'cd_nom': observation.getSpecie().getCDNom()}) }}">{{ observation.getSpecie() }}</a></strong></li>
                              <li>{{ observation.getViewedAt()|localizeddate('medium', 'medium') }}</li>
                              <li>Nb d'individus: {{ observation.getNumber() }}</li>
                            </ul>
                          </div>
                        </div>
                      
                        
                            {# <a href="{{ path('observation_show', {id: observation.getId()}) }}">Détails de l’observation</a> #}

                            <a href="#" class="mapPan btn btn-xs btn-func right" data-lat="{{ observation.getlatitude() }}" data-lng="{{ observation.getLongitude() }}">Voir sur la carte</a>
                        
                            <div class="clearfix"></div>

                        {% if is_granted('ROLE_NATURALIST') %}
                        <nav class="panel">
                          <ul class="inline txt-right">
                              {% if observation.status in [0,2] %}
                                <li><a href="{{ path('observation_approve', {'id': observation.getId()}) }}" class="btn btn-primary btn-xs">Approuver</a></li>
                              {% endif %}
                              {% if observation.status  in [0,1] %}
                                <li><a href="{{ path('observation_refuse', {'id': observation.getId()}) }}" class="btn btn-primary btn-xs">Refuser</a></li>
                              {% endif %}
                              {% if observation.status  in [0, 1, 2] %}
                                <li><a href="{{ path('observation_edit', {'id': observation.getId()}) }}" class="btn btn-primary btn-xs">Modifier</a></li>
                              {% endif %}
                              {% if observation.status == 2 %}
                                <li><a href="{{ path('observation_delete', {'id': observation.getId()}) }}" class="btn btn-primary btn-xs">Supprimer</a></li>
                              {% endif %}
                          </ul>
                        </nav>
                        {% endif %}
                  </article>
                {% endfor %}
                </div>
                <div>
                    {{ pagerfanta(observations) }}
                </div>
            </section>
            <section class="panel flex-item-fluid">
             {% if is_granted('ROLE_USER') %}
                <p class="txt-right"><a href="{{ path('observation_add') }}" class="btn btn-func btn-small">Ajouter une observation</a></p>
            {% endif %}
                
                <div id="map" class="flex-item-fluid"></div>
            </section>
        </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var map;
        var locations = [];

        {% for observation in observations %}
            var data = {
                "location": {
                    "lat": {{ observation.getlatitude() }},
                    "lng": {{ observation.getLongitude() }}
                },
                "espece": "{{ observation.getSpecie() }}",
                "ordre": "{{ observation.getSpecie().getOrdre() }}",
                "famille": "{{ observation.getSpecie().getFamily() }}",
                "observateur": "{{ observation.getUser().getFullname() }}",
                "date" : "{{ observation.getViewedAt()|localizeddate('medium', 'medium') }}",
                "photo": "{{ observation.getFilename() }}",
                "message": "{{ observation.getComment() }}",
                "quantite": "{{ observation.getNumber() }}",


            };
            locations.push(data);
        {% endfor %}

        $(document).ready(function(){
            $('#ordre').on('change', function(){
              var order = $(this).val();
              var url = Routing.generate('api_species_families_from_orders', {'order': order}, true)
              
              $('#family').find('option').remove();
              $('#family').append($("<option></option>").attr("value","").text("Tous"));

              $.get( url, {}, function(datas){
                  $.each(datas, function(key, value) {   
                       $('#family').append($("<option></option>").attr("value",value).text(value)); 
                  });
              });
            });

            $('.mapPan').on('click', function(event){
              event.preventDefault();
              var latLng = new google.maps.LatLng($(this).data('lat'), $(this).data('lng'));
              map.panTo(latLng);
              map.setZoom(10);
            })
        });
        
        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: {lat: 46.546981, lng: 3.3774635}
            });

            var markers = locations.map(function(data, i) {

              var marker =  new google.maps.Marker({
                position: data['location']
              });

              console.log(data);
              var content = '<div class="infoWindow">';
              content += '<p class="infoPicture"><img src="/uploads/' + data['photo'] + '" /></p>';
              content += '<p class="infoTitre">' + data['espece'] + '</p>';
              content += '<p class="infos">Ordre: ' + data['ordre'] + '</p>';
              content += '<p class="infos">Famille: ' + data['famille'] + '</p>';
              content += '<p class="infos">' + data['quantite'] + ' individu(s)</p>';
              content += '<p class="infos">observé(s) par:<br/>' + data['observateur'] + '</p>';
              content += '<p class="infos">Le: ' + data['date'] + '</p>';
              content += '<p class="infos">aux coordonnées: <br/>lat. ' + data['location']['lat'] + ' - lng. ' + data['location']['lng'] 
              content += '<p class="message">' + data['message'] +'</p>';
              content += '</div>';

              var infowindow = new google.maps.InfoWindow()

              google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                    return function() {
                       infowindow.setContent(content);
                       infowindow.open(map,marker);
                    };
                })(marker,content,infowindow));

                return marker;
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
{% endblock %}
