{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %}
Détails d’une observation
{% endblock %}

{% block body_sidebar %}
<aside class="mod w20 pam main">
    <ul>
        <li><a href="{{ path('observation_list') }}">Retour à la liste</a></li>
    </ul>
    </aside>
{% endblock  %}

{% block body_content %}
    <section>
        <p>
            Latitude&nbsp;: {{ observation.getlatitude() }}<br>
            Longitude&nbsp;: {{ observation.getLongitude() }}<br>
        </p>
        <p>
            <a href="{{ path('user_profile', {'username': observation.getUser().getUsername()}) }}">{{ observation.getUser().getFullname() }}</a>
        </p>
        <p>
            <a href="{{ path('specie_show', {'cd_nom': observation.getSpecie().getCDNom()}) }}">{{ observation.getSpecie() }}</a>
            {% if observation.getFilename() %}
                <img src="/uploads/{{ observation.getFilename() }}">
            {% endif %}
        </p>
        <p>
            Quantité&nbsp;: {{ observation.getNumber() }}
        </p>
        <p>
            Observé le {{ observation.getViewedAt()|localizeddate('full', 'full') }}
        </p>
        <div id="map"></div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: {lat: 46.546981, lng: 3.3774635}
            });

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function(data, i) {
                return new google.maps.Marker({
                    position: data['location'],
                    map: map
                    //label: data['label']
                });
            });

            // Add a marker clusterer to manage the markers.
            //var markerCluster = new MarkerClusterer(map, markers,
            //    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [];

            var data = {
                location: {
                    lat: {{ observation.getlatitude() }},
                    lng: {{ observation.getLongitude() }}
                },
                //label: "{{ observation.getSpecie() }}"
            };
            locations.push(data);
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
{% endblock %}
