{% extends "::base.html.twig" %}

{% block page_title %}
Editer une observation
{% endblock %}

{% block body_sidebar %}
<aside class="mod w20 pam main">
	<ul>
		<li><a href="{{ path('observation_list') }}">Retour à la liste</a></li>
	</ul>
	</aside>
{% endblock  %}

{% block body_content %}
    
    <div id="content" class="flex-item-fluid pam">
        <div class="grid-2 has-gutter">
            <section class="panel">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                 
                    <button type="submit" id="observation_save" name="observation_save" class="btn btn-primary right">Modifier</button>
                {{ form_end(form) }}
            </section>
            <section class="panel">
                <div id="map"></div>
            </section
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5I8PRoBq8jo8dFeN6PJ__Sh6ZbIPd6OI&amp;callback=initMap"></script>
    <script>
        function initMap() {
            var coord = {lat: parseFloat($("#observation_form_latitude").val()), lng: parseFloat($("#observation_form_longitude").val())};
            console.log(coord);
             
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: coord
            });

            var marker = new google.maps.Marker({
              position: coord,
              map: map,
              title:"Votre position",
              draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function(evt){
               
                $("#observation_form_latitude").val(evt.latLng.lat().toFixed(5));
                $("#observation_form_longitude").val(evt.latLng.lng().toFixed(5));
            });

            // listener on drag event
            google.maps.event.addListener(marker, 'dragstart', function(evt){
                // nothing for now
            });
            
        }

       
    </script>
{% endblock %}
