{% extends "::base.html.twig" %}

{% block page_title %}
Ajouter une observation
{% endblock %}

{% block body_sidebar %}
<aside class="mod w20 pam main">
    <ul>
        <li><a href="{{ path('observation_list') }}">Retour à la liste</a></li>
    </ul>
</aside>
{% endblock  %}

{% block body_content %}
    <div id="content" class="flex-item-fluid pam">
        <div class="grid-2 has-gutter">
            <section class="panel">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.longitude, { 'attr':{'disabled':'disabled'} }) }}
                    {{ form_row(form.latitude, { 'attr':{'disabled':'disabled'} }) }}
                    {{ form_widget(form) }}
                    <a class="btn-default btn btn-small left" href="{{ path('observation_list') }}">Retour</a>
                    <button type="submit" id="observation_save" name="observation_save" class="btn btn-primary right">Ajouter</button>
                {{ form_end(form) }}
            </section>
            <section class="panel">
                <div id="map"></div>
            </section
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5I8PRoBq8jo8dFeN6PJ__Sh6ZbIPd6OI&amp;callback=initMap"></script>
    <script>
        var coord = {lat: 46.546981, lng: 3.3774635};
        var marker;
            
        function initMap() {
           

            $("#observation_form_latitude").val(coord.lat);
            $("#observation_form_longitude").val(coord.lng);
                
             if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(location) {

                    coord.lat=location.coords.latitude;
                    coord.lng=location.coords.longitude;

                    $("#observation_form_latitude").val(coord.lat);
                    $("#observation_form_longitude").val(coord.lng);
                });
            }
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: coord
            });


            placeMarkerAndPanTo(coord, map);

            map.addListener('click', function(e) {
                placeMarkerAndPanTo(e.latLng, map);
            });

            google.maps.event.addListener(marker, 'dragend', function(evt){
               
                $("#observation_form_latitude").val(evt.latLng.lat().toFixed(5));
                $("#observation_form_longitude").val(evt.latLng.lng().toFixed(5));
            });

            
            
        }
        function placeMarkerAndPanTo(latLng, map) {
            if(marker && marker !== 'null' && marker !== 'undefined')
            {
                marker.setMap(null);
            }

            marker = new google.maps.Marker({
                position: latLng,
                map: map,
                draggable: true
            });
            map.panTo(latLng);
        }
       
    </script>
{% endblock %}
