{% spaceless %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block meta %}
            <meta charset="UTF-8" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}
        <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/styles.min.css') }}">
    </head>
    {% block body %}
    <body class="template-page">
        {% block body_header %}
        <div id="page">
            <header class="main" role="banner">
                <div class="flex-container">
                    <div id="logo"  role="banner" itemscope="" itemtype="http://data-vocabulary.org/Organization">
                        <a href="{{ path('homepage') }}" title="NALO -  Revenir à l'accueil">
                            <svg id="logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1126 611.3"><defs><linearGradient id="degrade14" x1="415.71" y1="363.84" x2="455.3" y2="432.42" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#29abe2"/><stop offset="0.12" stop-color="#289fd8"/><stop offset="0.33" stop-color="#2580be"/><stop offset="0.61" stop-color="#204d94"/><stop offset="0.78" stop-color="#1d2c78"/><stop offset="1"/></linearGradient><linearGradient id="degrade14-2" x1="884.07" y1="-25.72" x2="746.22" y2="213.04" xlink:href="#degrade14"/><linearGradient id="degrade14-3" x1="1077.15" y1="323.62" x2="914.62" y2="42.11" gradientTransform="translate(-13.07 40.56) rotate(-2.12)" xlink:href="#degrade14"/><linearGradient id="degrade14-4" x1="1899.81" y1="860.09" x2="1976.66" y2="860.09" gradientTransform="matrix(-0.09, 0.78, -0.62, -0.44, 1816.29, -863.29)" xlink:href="#degrade14"/><linearGradient id="Dégradé_sans_nom_187" x1="422.84" y1="393.2" x2="803.02" y2="173.7" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#29abe2"/><stop offset="0.2" stop-color="#2369ab"/><stop offset="0.36" stop-color="#1f3d86"/><stop offset="0.44" stop-color="#1d2c78"/><stop offset="0.5" stop-color="#16225c"/><stop offset="0.59" stop-color="#0e163b"/><stop offset="0.69" stop-color="#080c21"/><stop offset="0.79" stop-color="#04050f"/><stop offset="0.89" stop-color="#010104"/><stop offset="1"/></linearGradient><linearGradient id="Dégradé_sans_nom_115" x1="35.42" y1="201.67" x2="400.15" y2="201.67" gradientTransform="matrix(0.99, -0.1, 0.1, 0.99, -32.64, 12.72)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#29abe2"/><stop offset="0.18" stop-color="#29a7df"/><stop offset="0.35" stop-color="#289dd6"/><stop offset="0.5" stop-color="#268bc7"/><stop offset="0.65" stop-color="#2471b2"/><stop offset="0.8" stop-color="#205197"/><stop offset="0.93" stop-color="#1d2c78"/></linearGradient><linearGradient id="degrade14-5" x1="0" y1="330.87" x2="78.06" y2="330.87" xlink:href="#degrade14"/><linearGradient id="Dégradé_sans_nom_132" x1="811.1" y1="727.01" x2="1044.91" y2="768.24" gradientTransform="matrix(1.01, -0.03, -0.02, 1.08, -467.14, -644.16)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1f428b"/><stop offset="0.01" stop-color="#21559b"/><stop offset="0.03" stop-color="#2370b1"/><stop offset="0.05" stop-color="#2586c3"/><stop offset="0.08" stop-color="#2797d1"/><stop offset="0.11" stop-color="#28a2db"/><stop offset="0.16" stop-color="#29a9e0"/><stop offset="0.28" stop-color="#29abe2"/><stop offset="0.34" stop-color="#289fd8"/><stop offset="0.46" stop-color="#2580be"/><stop offset="0.6" stop-color="#204d94"/><stop offset="0.69" stop-color="#1d2c78"/><stop offset="0.78" stop-color="#121c4b"/><stop offset="0.88" stop-color="#080d22"/><stop offset="0.95" stop-color="#020309"/><stop offset="1"/></linearGradient><linearGradient id="Dégradé_sans_nom_186" x1="659.61" y1="195.22" x2="659.61" y2="402.05" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#53bae6"/><stop offset="0.05" stop-color="#4db7e5"/><stop offset="0.22" stop-color="#3bb0e3"/><stop offset="0.45" stop-color="#29a9e0"/><stop offset="0.68" stop-color="#236eaf"/><stop offset="0.92" stop-color="#1d2c78"/><stop offset="0.96" stop-color="#1d2b76"/><stop offset="0.97" stop-color="#1b296f"/><stop offset="0.98" stop-color="#182464"/><stop offset="0.98" stop-color="#141e53"/><stop offset="0.99" stop-color="#0f163d"/><stop offset="0.99" stop-color="#080c22"/><stop offset="1" stop-color="#010103"/><stop offset="1"/></linearGradient><linearGradient id="degrade14-6" x1="677.86" y1="402.05" x2="677.86" y2="253.19" xlink:href="#degrade14"/><linearGradient id="Dégradé_sans_nom_26" x1="680" y1="253.19" x2="680" y2="480.7" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff7300"/><stop offset="0.03" stop-color="#fb7900"/><stop offset="0.13" stop-color="#f18a02"/><stop offset="0.26" stop-color="#ea9502"/><stop offset="0.43" stop-color="#e69c03"/><stop offset="0.93" stop-color="#e59e03"/><stop offset="0.93" stop-color="#e5a003"/><stop offset="0.93" stop-color="#e5b102"/><stop offset="0.93" stop-color="#e5bc01"/><stop offset="0.93" stop-color="#e5c300"/><stop offset="0.93" stop-color="#e5c500"/><stop offset="0.99" stop-color="#bf6f00"/></linearGradient></defs><title>logoicône</title><g id="logo"><polygon id="queue" points="398.79 373.61 456.76 395.88 447.94 436.66 398.79 373.61" style="fill:url(#degrade14)"/><g id="aile_droite" data-name="aile droite"><polygon points="817.04 196.67 720.08 197.95 774 0 955.49 15.51 817.04 196.67" style="fill:url(#degrade14-2)"/><polygon points="1101.65 307.63 874.42 121.59 955.36 15.67 1101.65 307.63" style="fill:url(#degrade14-3)"/><polygon points="1126 259.23 1101.29 306.9 1083.16 270.29 1126 259.23" style="fill:url(#degrade14-4)"/></g><polygon id="corps_arr" data-name="corps arr" points="593.36 439.98 447.94 436.66 497.59 204.81 815.58 195.44 593.36 439.98" style="fill:url(#Dégradé_sans_nom_187)"/><g id="aile_gauche" data-name="aile gauche"><polygon points="39.73 373.15 369.24 9.32 321.99 182.57 39.73 373.15" style="fill:url(#Dégradé_sans_nom_115)"/><polygon points="0 290 78.06 331.26 41.3 371.75 0 290" style="fill:url(#degrade14-5)"/><polygon points="547 273 321.99 182.57 369.24 9.32 547 273" style="fill:url(#Dégradé_sans_nom_132)"/></g><polygon id="corps_av" data-name="corps av" points="767.11 367.72 588.62 402.05 500.98 204.18 818.23 195.22 767.11 367.72" style="fill:url(#Dégradé_sans_nom_186)"/><g id="tête"><polygon points="767.11 367.72 588.62 402.05 631.32 253.19 727.21 253.19 767.11 367.72" style="fill:url(#degrade14-6)"/><polygon points="720.08 480.7 631.32 253.19 728.68 253.19 720.08 480.7" style="fill:url(#Dégradé_sans_nom_26)"/></g></g><g id="nao"><path d="M469.63,563.54c-1.08-3.53-2.42-16.06-11.13-22.16-2.26-1.58-21.72-16.46-59.37-14.71-21.66,1-37.57,5.63-38.29,5.07s16.4-7.71,41.28-9.15c1.52-.09,34.08-1.75,57.26,7.6a51.37,51.37,0,0,1,18.31,12.1c3.85,3.73,4.78,6,8.66,12.52,2.35,4-6.42-2.51-1.39,4.61" transform="translate(-11 -9.38)" style="fill:#2e3192"/><path d="M468.76,609.66c1.5,5.65-18.71,6.21-30.69,6.73-17.64.76-30-2.32-35.62-4.08-1.61-.5,2.16,3.24,7,4.78,20.62,6.6,61.07,2.38,66.31.8,3.38-1,5.93-1.84,4.72-4.7" transform="translate(-11 -9.38)" style="fill:#2e3192"/><path d="M549,615.17H534.13l-54-54.06h-.55l.34,3.61a140.77,140.77,0,0,1,.83,14.07v36.38H469V550.06h14.7l3.11,3.16,33.13,33,17.6,17.68h.55q-.14-1.07-.55-7.64t-.41-9.51V550.06H549Z" transform="translate(-11 -9.38)" style="fill:#2e3192"/><path d="M572.78,610.23a5.19,5.19,0,0,1,2.24-4.52,11,11,0,0,1,6.38-1.58,11.65,11.65,0,0,1,6.56,1.58,5.13,5.13,0,0,1,2.35,4.52,5.31,5.31,0,0,1-2.35,4.56,11.17,11.17,0,0,1-6.56,1.67,10.67,10.67,0,0,1-6.35-1.65A5.34,5.34,0,0,1,572.78,610.23Z" transform="translate(-11 -9.38)" style="fill:#f7931e"/><path d="M677.56,615.17,665.41,595h-40l-12,20.17H600.53l39.41-65.37H651.4l39.34,65.37Zm-15.94-27.43L650.3,568l-4.83-9.75a99.85,99.85,0,0,1-4.35,9.75l-11.46,19.73Z" transform="translate(-11 -9.38)" style="fill:#2e3192"/><path d="M701,610.23a5.19,5.19,0,0,1,2.24-4.52,11,11,0,0,1,6.38-1.58,11.65,11.65,0,0,1,6.56,1.58,5.13,5.13,0,0,1,2.35,4.52,5.31,5.31,0,0,1-2.35,4.56,11.17,11.17,0,0,1-6.56,1.67,10.67,10.67,0,0,1-6.35-1.65A5.34,5.34,0,0,1,701,610.23Z" transform="translate(-11 -9.38)" style="fill:#f7931e"/><path d="M827.14,582.53q0,15.63-12.25,24.58t-34.27,9q-22.29,0-34.48-8.79T734,582.44q0-15.9,12.11-24.65T780.75,549q21.95,0,34.17,8.88T827.14,582.53Zm-79.79,0q0,12.92,8.49,19.68T780.62,609q16.22,0,24.64-6.68t8.42-19.77q0-13-8.35-19.66t-24.57-6.61q-16.43,0-24.92,6.7T747.35,582.53Z" transform="translate(-11 -9.38)" style="fill:#2e3192"/></g></svg>
                        </a>
                    </div>
                    <div id="baseline" class="flex-item-fluid txt-center">
                        <h1 class="medium-hidden small-hidden tiny-hidden txt-center txt-shadow">Nos amis les oiseaux</h1p>
                        <h2>{% block page_title %}{% endblock %}</h2>
                    </div>
                    <div id="menu">
                        <ul id="menu-top" >
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_profile_show') }}">
                                {{ app.user.getFullname() }}
                            </a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                        </ul>
                        {% include '::navigation.html.twig' with{'class' : ' '} %}

                    </div>
                    
                </div>
            </header>
            {% endblock %}
            
            {% block body_flash %}
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endblock %}

            <main id="main" class="flex-container">
            {% block body_sidebar %}

            {% endblock %}
            {% block body_content %}

            {% endblock %}
            </main>
            
                
            {% block body_footer %}
                <!-- BEGIN FOOTER -->
                <footer class="main full-width">
                {% include '::footer.html.twig' %}
                </footer>
                <!-- END FOOTER -->
            {% endblock %}

            
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script src="/assets/js/global.min.js" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
    {% endblock %}
</html>
{% endspaceless %}
