{% spaceless %}
          <div class="container flex-container">
            <div>
              <p>
                <strong>Nos amis les oiseaux</strong>
                <br />8, Bd de la chaussée au pins
                <br />80000 Amiens
              </p>
              <p>
                <a href="{{ path('contact') }}">Nous contacter</a>
              </p>
            </div>
            <div class="flex-item-fluid txt-center">
                <a href="#" title="twitter"><svg class="ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"><defs><style>.cls-1{fill:none;}.cls-2{fill:#fff;}</style></defs><title>if_Twitter_1298770</title><g id="_7_stroke" data-name="7 stroke"><g id="Twitter"><rect class="cls-1" width="45" height="45"/><path id="Twitter-2" data-name="Twitter" class="cls-2" d="M47,9.19a18,18,0,0,1-5.3,1.49,9.45,9.45,0,0,0,4.06-5.24,18.18,18.18,0,0,1-5.87,2.29,9.11,9.11,0,0,0-6.74-3,9.35,9.35,0,0,0-9.23,9.47,9.66,9.66,0,0,0,.24,2.16,26,26,0,0,1-19-9.89,9.64,9.64,0,0,0-1.25,4.76A9.53,9.53,0,0,0,8,19.12a9.07,9.07,0,0,1-4.18-1.18v.12a9.41,9.41,0,0,0,7.41,9.28,8.8,8.8,0,0,1-2.43.33A9,9,0,0,1,7,27.5a9.27,9.27,0,0,0,8.62,6.57A18.23,18.23,0,0,1,4.2,38.13,18.44,18.44,0,0,1,2,38a25.71,25.71,0,0,0,14.15,4.25c17,0,26.27-14.42,26.27-26.93,0-.41,0-.82,0-1.23A18.94,18.94,0,0,0,47,9.19" transform="translate(-2 -1)"/></g></g></svg></a>

                <a href="#" title="facebook"><svg class="ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><path class="st0" d="M35.1,16.3H28v-4.6c0-1.7,1.2-2.1,2-2.1c0.8,0,5,0,5,0V1.9l-6.9,0c-7.6,0-9.4,5.7-9.4,9.4v5.1h-4.4v7.9h4.4c0,10.1,0,22.3,0,22.3H28c0,0,0-12.3,0-22.3h6.3L35.1,16.3z"/></svg></a>

                <a href="#" title="Instagram"><svg  class="ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs><style>.a{fill:#fff;}</style></defs><title>Instagram</title><path class="a" d="M13.89,17.18H1.75V15.64h0V39.81c0,6.69,6.69,6.69,6.69,6.69H39.81s6.69,0,6.69-6.69V17.18h0V15.64H33.38a11.57,11.57,0,0,0-18.52,0H1.75V8.44A6.09,6.09,0,0,1,6.38,2.09V11H7.92V1.78h0c.32,0,.51,0,.51,0H39.81s6.69,0,6.69,6.69v8.74H34.36a11.57,11.57,0,1,1-20.48,0ZM38.38,4.84A2.68,2.68,0,0,0,35.7,7.51V9.87a2.68,2.68,0,0,0,2.68,2.68h2.36a2.68,2.68,0,0,0,2.68-2.68V7.51a2.68,2.68,0,0,0-2.68-2.68ZM12.55,1.75V11h1.54V1.75Zm-3.09,0V11H11V1.75ZM24.12,31.84a9.26,9.26,0,1,0-9.26-9.26A9.26,9.26,0,0,0,24.12,31.84Zm0-3.09A6.17,6.17,0,1,0,18,22.58,6.17,6.17,0,0,0,24.12,28.75Z" transform="translate(-1.75 -1.75)"/></svg></a>
            </div>
            <div>
              
              <p><a href="{{ path('admin_home') }}">Administration</a></p>
              <p><a href="{{ path('page', {'slug': 'mentions_legales'}) }}">Mentions légales</a></p>
              
            </div>
          </div>
          <div class="container txt-right mtl">
            <small>&copy;&nbsp;2017 Équipe des Aigles. Tous droits réservés.</small>
          </div>
          
          
{% endspaceless %}
