{% spaceless %}
<nav role="navigation" class="{{ class }}">
    <input type="checkbox" id="toggle-nav" aria-label="open/close navigation">
    <label for="toggle-nav" class="nav-button cross-button"></label>
    <ul id="main-nav">
      <li><a href="{{ path('page', {'slug': 'association'}) }}">L'association</a></li>
      <li><a href="{{ path('page', {'slug': 'le_projet'}) }}">Le projet</a></li>
      <li><a href="{{ path('observation_list') }}">Observations</a></li>
      <li><a href="{{ path('contact') }}">Contactez-nous</a></li>
    </ul>
</nav>
{% endspaceless %}
