{% spaceless %}
<div id="menu">
  <nav role="navigation">
  
  <ul id="main-nav">
      <li>
        <a href="#">L'association</a>
        <ul>
          <li><svg class="puce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><polygon class="a" points="0.5 0.81 48.02 24.71 0.5 48.62 0.5 0.81"/></svg><a href="{{ path('page', {'slug': 'association', '_fragment': 'qui'}) }}">Qui sommes-nous ?</a></li>
          <li><svg class="puce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><polygon class="a" points="0.5 0.81 48.02 24.71 0.5 48.62 0.5 0.81"/></svg><a href="{{ path('page', {'slug': 'association', '_fragment': 'missions'}) }}">Nos missions</a></li>
          <li><svg class="puce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><polygon class="a" points="0.5 0.81 48.02 24.71 0.5 48.62 0.5 0.81"/></svg><a href="{{ path('page', {'slug': 'association', '_fragment': 'adherer'}) }}">Adhérer à l'association</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Le projet</a>
        <ul>
          <li><svg class="puce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><polygon class="a" points="0.5 0.81 48.02 24.71 0.5 48.62 0.5 0.81"/></svg><a href="{{ path('page', {'slug': 'le_projet', '_fragment': 'projet'}) }}">Le projet scientifique</a></li>
          <li><svg class="puce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><polygon class="a" points="0.5 0.81 48.02 24.71 0.5 48.62 0.5 0.81"/></svg><a href="{{ path('page', {'slug': 'le_projet', '_fragment': 'aider'}) }}">Vous pouvez nous aider!</a></li>
          <li><svg class="puce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><polygon class="a" points="0.5 0.81 48.02 24.71 0.5 48.62 0.5 0.81"/></svg><a href="{{ path('page', {'slug': 'le_projet', '_fragment': 'plateforme'}) }}">La plateforme participative</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ path('observation_list') }}">Observations</a>
      </li>
      <li>
        <a href="{{ path('contact') }}">Contactez-nous</a>
      </li>
  </ul>
</nav>
</div>

{% endspaceless %}
