{% spaceless %}
<!-- BEGIN SIDEBAR -->
        <aside class="mod w20 pam main">
        <ul>
            <li><a href="{{ path('observation_list') }}">Consulter les observations</a></li>
            {% if is_granted('ROLE_NATURALIST') %}
            <li>
                <ul>
                    <li><a href="{{ path('observations_pending_approval') }}">Observations en attente</a></li>
                    <li><a href="{{ path('observations_refused') }}">Observations refusées</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </aside>
{% endspaceless %}
