{% extends "::base.html.twig" %}

{% block body_header %}
    {{ parent() }}
    {% include ':admin:topnav.html.twig' %}
{% endblock %}

{% block body_sidebar %}
    {% include ':admin:sidebar.html.twig' %}
{% endblock %}
