{% extends ":admin:backend.html.twig" %}

{% block page_title %}
    Bienvenue dans l’espace d'administration de l’application.
{% endblock %}

{% block body_content %}

    <!-- BEGIN CONTENT -->
     <div id="content" class="flex-item-fluid pam">
        
    </div>
{% endblock %}
