{% extends ":admin:backend.html.twig" %}

{% block page_title %}
Liste des observations
{% endblock %}

{% block body_content %}
    <section>
        
        <table>
            <thead>
                <tr>
                    <th>Localisation</th>
                    <th>Observateur</th>
                    <th>Espèce</th>
                    <th>Nombre</th>
                    <th>Validée&nbsp;?</th>
                </tr>
            </thead>
            <tbody>
            {% for observation in observations %}
                <tr>
                    <td>
                        Latitude&nbsp;{{ observation.getlatitude() }}<br>
                        Longitude&nbsp;{{ observation.getLongitude() }}<br>
                    </td>
                    <td><a href="{{ path('admin_user_view_profile', {'username': observation.getUser().getUsername()}) }}">{{ observation.getUser().getFullname() }}</a></td>
                    <td><a href="{{ path('specie_show', {'cd_nom': observation.getSpecie().getCDNom()}) }}">{{ observation.getSpecie() }}</a></td>
                    <td>{{ observation.getNumber() }}</td>
                    <td>
                        {% if not observation.getApprover() is null %}
                            Oui, par <a href="{{ path('admin_user_view_profile', {'username': observation.getApprover().getUsername()}) }}">{{ observation.getApprover().getFullname() }}</a>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ pagerfanta(observations) }}
        </div>
    </section>
{% endblock %}
