{% spaceless %}
    <aside>
        <ul>
            <li><a>Gestion du site</a>
                <ul>
                    <li><a href="{{ path('admin_user_list') }}">Utilisateurs</a></li>
                    <li><a href="{{ path('admin_observation_list') }}">Observations</a></li>
                    <li><a href="{{ path('admin_messages') }}">Messages</a></li>
                </ul>
            </li>
        </ul>
    </aside>
{% endspaceless %}
