{% extends ":admin:backend.html.twig" %}

{% block page_title %}
Liste des utilisateurs
{% endblock %}

{% block body_content %}
    <section>
        
        <table>
            <thead>
                <tr>
                    <th>Nom complet</th>
                    <th>Nom d’utilisateur</th>
                    <th>Courriel</th>
                    <th>Naturaliste&nbsp;?</th>
                    <th>Actif&nbsp;?</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('admin_user_view_profile', {'username': user.getUsername()}) }}">{{ user.getFullname() }}</a></td>
                    <td><a href="{{ path('admin_user_view_profile', {'username': user.getUsername()}) }}">{{ user.getUsername() }}</a></td>
                    <td>{{ user.getEmail() }}</td>
                    <td>
                        {% if user.hasRole('ROLE_NATURALIST') %}
                            Oui - <a href="{{ path('admin_user_demote', {'username': user.getusername()}) }}">Déclasser</a>
                        {% else %}
                            Non - <a href="{{ path('admin_user_promote', {'username': user.getusername()}) }}">Surclasser</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.user.getId() == user.getId() %}
                            Oui
                        {% else %}
                            {% if user.isEnabled() %}
                                Oui - <a href="{{ path('admin_user_disable', {'username': user.getusername()}) }}">Désactiver</a>
                            {% else %}
                                Non - <a href="{{ path('admin_user_enable', {'username': user.getusername()}) }}">Activer</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ pagerfanta(users) }}
        </div>
    </section>
{% endblock %}
