<html>
    <body>
        <h1>Liste des message</h1>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>email</th>
                <th>Envoyé le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.getName() }}</td>
                    <td>{{ message.getEmail() }}</td>
                    <td>{{ message.getSentAt()|localizeddate('medium', 'medium') }}</td>
                    <td><a href="{{ path('admin_delete_message', {'id': message.getId()}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ pagerfanta(messages) }}
        </div>
    </body>
</html>
