<html>
<body>
<h1>Lecture d’un message des message</h1>
<h3>Message de <a href="mailto:{{ message.getEmail() }}">{{ message.getName() }}</a></h3>
<p>{{ message.getSentAt()|localizeddate('medium', 'medium') }}</p>
<h4>{{ message.getTitle() }}</h4>
<p>{{ message.getContent() }}</p>
</body>
</html>
