{% extends "@FOSUser/layout.html.twig" %}

{% block page_title %}
    Inscription
{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
