{% trans_default_domain 'FOSUserBundle' %}
<section class="panel">
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    	{{ form_widget(form) }}
	    <p class="txt-right">
	        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
	    </p>
		{{ form_end(form) }}
</section>