{% trans_default_domain 'FOSUserBundle' %}

		{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
		    {{ form_widget(form) }}
		    <p class="txt-right">
		        <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="btn btn-primary"/>
		    </p>
		{{ form_end(form) }}