{% extends 'base.html.twig' %}

{% block page_title %}
Informations sur le projet
{% endblock %}

{% block body_content %}
    <div id="content" class="flex-item-fluid pam">
    	<a name="projet"> </a>
	    <h3>Le projet scientifique</h3>
	    <p>
	    <img alt="fakeimg.pl" src="https://fakeimg.pl/320x240/282828/eae0d0/" class="left">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui nulla, tincidunt vel velit tincidunt, vulputate varius enim. Morbi finibus justo quis mattis porttitor. Cras nec elit lectus. Aenean cursus vitae quam at consequat. Phasellus a massa ligula. Proin eget blandit eros. Nunc convallis libero libero, laoreet volutpat nibh tempus a. Fusce semper turpis non eros varius vehicula. Aenean euismod lorem rhoncus interdum faucibus. Phasellus velit elit, tincidunt sit amet congue in, mollis id eros.</p>
	    <p>Sed malesuada dignissim odio, a suscipit quam eleifend eu. Quisque eget mauris porttitor, pharetra est vel, porttitor sapien. Integer vulputate condimentum orci eget scelerisque. Fusce sem mauris, interdum eleifend velit id, accumsan pharetra nisi. Fusce ullamcorper augue vel ante auctor scelerisque. In non urna facilisis, posuere elit quis, lobortis tortor. Mauris at nibh eget purus tempor scelerisque. Donec gravida at ex blandit commodo. Maecenas massa lorem, facilisis sit amet urna vel, malesuada lobortis libero. Sed vitae purus in odio sodales commodo vel vel magna. Donec feugiat ac eros sit amet malesuada. Vivamus a metus faucibus nunc pellentesque consectetur. Fusce ipsum nibh, pellentesque a placerat et, placerat quis justo. Aliquam dignissim consectetur leo, malesuada faucibus magna tristique hendrerit.</p>

	    <a name="aider"> </a>
	    <h3>Vous pouvez nous aider!</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui nulla, tincidunt vel velit tincidunt, vulputate varius enim. Morbi finibus justo quis mattis porttitor. Cras nec elit lectus. Aenean cursus vitae quam at consequat. Phasellus a massa ligula. Proin eget blandit eros. Nunc convallis libero libero, laoreet volutpat nibh tempus a. Fusce semper turpis non eros varius vehicula. Aenean euismod lorem rhoncus interdum faucibus. Phasellus velit elit, tincidunt sit amet congue in, mollis id eros.</p>

	    <a name="plateforme"> </a>
	    <h3>La plateforme participative </h3>
	    <p>
	    <img alt="fakeimg.pl" src="https://fakeimg.pl/320x240/282828/eae0d0/" class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui nulla, tincidunt vel velit tincidunt, vulputate varius enim. Morbi finibus justo quis mattis porttitor. Cras nec elit lectus. Aenean cursus vitae quam at consequat. Phasellus a massa ligula. Proin eget blandit eros. Nunc convallis libero libero, laoreet volutpat nibh tempus a. Fusce semper turpis non eros varius vehicula. Aenean euismod lorem rhoncus interdum faucibus. Phasellus velit elit, tincidunt sit amet congue in, mollis id eros.</p>
	    <p>Sed malesuada dignissim odio, a suscipit quam eleifend eu. Quisque eget mauris porttitor, pharetra est vel, porttitor sapien. Integer vulputate condimentum orci eget scelerisque. Fusce sem mauris, interdum eleifend velit id, accumsan pharetra nisi. Fusce ullamcorper augue vel ante auctor scelerisque. In non urna facilisis, posuere elit quis, lobortis tortor. Mauris at nibh eget purus tempor scelerisque. Donec gravida at ex blandit commodo. Maecenas massa lorem, facilisis sit amet urna vel, malesuada lobortis libero. Sed vitae purus in odio sodales commodo vel vel magna. Donec feugiat ac eros sit amet malesuada. Vivamus a metus faucibus nunc pellentesque consectetur. Fusce ipsum nibh, pellentesque a placerat et, placerat quis justo. Aliquam dignissim consectetur leo, malesuada faucibus magna tristique hendrerit.</p>

	    
	    <p class="txt-right">
	      <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Inscription au programme de comptage</a>
	    </p>
    </div>
{% endblock %}
