{% trans_default_domain 'FOSUserBundle' %}
<section class="panel">
{{ form_start(form, { 'action': path('fos_user_group_new'), 'attr': { 'class': 'fos_user_group_new' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</section>
