{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<section class="panel">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            
            <div class="form-group">
                <label for="username">Adresse email</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> 
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <div class="grid-2">
                <div class="txt-right">
                    <p><a href="{{ path('fos_user_registration_register') }}">Créez un compte&nbsp;!</a></p>
                    <p class="small"><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié&nbsp;?</a></p>
                </div>
                <div class="txt-right">
                   <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
                </div>
            </div>
        </form>
</section>