{% extends '::base.html.twig' %}

{% block body_content %}
<aside class="mod w20 pam main"></aside>
<div id="content" class="flex-item-fluid pam">
    
    	{% block fos_user_content %}{% endblock fos_user_content %}
    
</div>
{% endblock %}
