{% trans_default_domain 'FOSUserBundle' %}
<section class="panel">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username" class="control-label">Adresse email</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <p class="txt-right">
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
    </p>
</form>
</section>
