{% extends "@FOSUser/layout.html.twig" %}
{% block page_title %}
    Réinitialisation du mot de passe
{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
