{% trans_default_domain 'FOSUserBundle' %}
<section class="panel">
		{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
		    {{ form_widget(form) }}
		    <p class="txt-right">
		        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary" />
		    </p>
		{{ form_end(form) }}
</section>