{% extends "::base.html.twig" %}

{% block page_title %}
    Nous contacter
{% endblock %}
{% block body_sidebar %}
<aside class="mod w20 pam main">
   
</aside>
{% endblock  %}
{% block body_content %}
   <div id="content" class="flex-item-fluid pam">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <p class="txt-right"><input type="submit" value="Envoyer" class="btn btn-primary" /></p>
        {{ form_end(form) }}
    </div>
{% endblock %}
