{% extends "::base.html.twig" %}

{% block page_title %}
    Nous contacter
{% endblock %}
{% block body_sidebar %}
<aside class="mod w20 pam main">
   
</aside>
{% endblock  %}
{% block body_content %}
   	<div id="content" class="flex-item-fluid pam txt-center">
   		<p class="message_confirmation wh mal">Merci pour votre message&nbsp!</p>
        <img src="/assets/img/pigeon.png" alt="Pigeon voyageur content!" />
        <p class="message_confirmation bl mal">Nous vous répondrons au plus vite.</p>

    </div>
{% endblock %}
