{% extends ":admin:backend.html.twig" %}

{% block page_title %}
    Répondre au message
{% endblock %}

{% block body_content %}
    <section>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer" />
        {{ form_end(form) }}
    </section>
{% endblock %}
