{% extends ":admin:backend.html.twig" %}

{% block page_title %}
    Liste des messages
{% endblock %}

{% block body_content %}
    <section>
        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>De</th>
                <th>Le</th>
                <th>Lu&nbsp;?</th>
                <th>Répondu&nbsp;?</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td><a href="{{ path('admin_read_message', {'id': message.getId()}) }}">{{ message.getTitle() }}</a></td>
                    <td><a href="mailto:{{ message.getEmail() }}">{{ message.getName() }}</a></td>
                    <td>{{ message.getSentAt()|localizeddate('medium', 'medium') }}</td>
                    <td>{% if message.isOpened() %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if message.hasAnswer() %}Oui{% else %}Non{% endif %}</td>
                    <td><a href="{{ path('admin_delete_message', {'id': message.getId()}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ pagerfanta(messages) }}
        </div>
    </section>
{% endblock %}
