{% extends ":admin:backend.html.twig" %}

{% block page_title %}
    Lecture d’un message
{% endblock %}

{% block body_content %}
    <section>
        <h3>Message de <a href="mailto:{{ message.getEmail() }}">{{ message.getName() }}</a></h3>
        <p>{{ message.getSentAt()|localizeddate('medium', 'medium') }}</p>
        <h4>{{ message.getTitle() }}</h4>
        <p>{{ message.getContent() }}</p>
    </section>
    {% if message.hasAnswer() %}
        <section>
            <h4>La réponse envoyée</h4>
            <p>{{ message.getAnswer().getSentAt()|localizeddate('medium', 'medium') }}</p>
            <h4>{{ message.getAnswer().getTitle() }}</h4>
            <p>{{ message.getAnswer().getContent() }}</p>
        </section>
    {% else %}
        <section><a href="{{ path('admin_answer_message', {'id': message.getId()}) }}">Répondre</a></section>
    {% endif %}
{% endblock %}
