<html>
    <body>
        <h1>Nous contacter</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer" />
        {{ form_end(form) }}
    </body>
</html>
